<!DOCTYPE html>
<html>
    <head>
        <title>LiveDota</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="top">
                <h1>LiveDota</h1>
                <h2>Dota直播信息搜集网</h2>
            </div>
            <a class="header-link" href="https://github.com/woxixiulayin/LiveDota">github传送门</a>
        </header>
        <div class="content" id="content">
            <div class="left-wrap">
                <ul class="websites" id="websites" @click="getWebsitelive" v-cloak>
                    <li class="website-item" :class="{'checked': $index == checknum ? true: false}" v-for="website in websites" :index="$index">
                        <a href="#">{{ website }}</a>
                    </li>
                </ul>
                <button class="btn-refresh">刷新</button>
            </div>
            <div class="live-list">
                <ul class="ul-live-list" v-cloak>
                    <li class="live-item left" v-for="live in lives">
                        <a class="li-a" href="{{ live.link }}" target="_blank">
                            <img class="live-img" :src="live.img">
                            <div class="live-info">
                                <div class="live-title">{{ live.title }}</div>
                                <div class="live-name-nums">
                                    <span class="live-name left">{{ live.name }}</span>
                                    <span class="live-nums right">{{ live.nums }}</span>
                                </div>
                            </div>
                            <div class="mask"></div>
                        </a>
                    </li>
                </ul>
            </div>
            <aside class="right-wrap">
                <h3 class="head-rank">Dota直播排行榜</h3>
                <ul class="live-rank" v-cloak>
                    <li class="rank-item-wrap" v-for="live in lives" @mouseover="showbrief" @mouseout="closebrief" :index="$index">
                        <a class="rank-link" href="{{ live.link }}" target="_blank" >
                            <div class="rank-item">
                                <span class="rank-name">{{ live.name }}</span>
                                <span class="rank-nums">{{ live.nums }}</span>
                                <span class="rank-website">{{ live.website }}</span>
                            </div>
                            <div class="img-div" v-show="$index == checknum ? true : false">
                                <div class="rank-i-img-wrap">
                                    <img :src="live.img" class="rank-img" >
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <!-- <footer class= "foot">LiveDota from Gangker@2016</footer> -->
        <!-- <script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script> -->
        <script type="text/javascript" src="//cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
        <script src="//cdn.bootcss.com/fetch/1.0.0/fetch.min.js"></script>
        <script type="text/javascript" src="js/vuecomponents.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>