/*重置样式*/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; border: 0; outline: none;}
h1, h2, h3, h4, h5, h6{font-size: 100%;padding: 0;margin: 0;}
ul, ol{list-style: none;}
a{color: white; text-decoration: none;}
a:hover
{text-decoration: none;}

.clearfix {
    clearfix: both;
    overflow: hidden;
}

header
{   
    position: fixed;
    left:0;
    top:0;
    height: 50px;
    background: black;
    color: white;
    width: 100%;
    z-index: 100;
}
.top
{
    width: 1000px;
    margin-left: 200px;
}
h1
{   
    display: inline;
    font-size: 30px;
    line-height: 50px;
}
h2 {
    display: inline;
    margin-left: 30px;
    font-size: 20px;
}

.header-link
{   
    position: absolute;
    left: 100%;
    top:20px;
    margin-left: -200px;
    font-size: 16px;
}
.header-link:link,
.header-link:visited
{
    color: orange;
}
.header-link:hover,
.header-link:active
{
    color: yellow;
}

body
{
    background-image: url(../img/wrap_bg.png);
}

.content
{
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 1000px;
}

.left-wrap
{   
    position: fixed;
    left: 0;
    top: 50px;
    width: 199px;
    height: 100%;
    color: white;
    background: transparent;
    border-right: solid 1px rgb(51,51,51);
}

.btn-refresh
{   
    display: block;
    font-size: 18px;
    color: orange;
    line-height: 25px;
    margin: 0 auto;
    width: 130px;
    border: none;
    background: transparent;
}

.btn-refresh:hover
{   
    color: white;
    background: rgb(28,211,136);
    cursor: pointer;
}
.websites
{
    margin: 20px auto;
    text-align: center;
    width: 130px;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
}

.website-item
{
    margin: 0 auto 20px;
}
.left-wrap a {
    display: block;
    width: 100%;
}

.website-item:hover,
.website-item.checked
{
    background: #EE2C2C;
}

.live-list
{   
    margin: 0 300px 0 200px;
    padding-top: 20px;
    background: transparent;
}

.ul-live-list
{   
    margin: 0 auto;
    position: relative;
}

.live-item
{
    display: inline-block;
    margin: 0 5px 10px;
    background: transparent;
    position: relative;
    padding: 10px; 
    border: 1px solid rgb(51,51,51);
    text-align: left;
    overflow: hidden;
}

.live-item:hover
{   
    border-color: rgb(0,192,255);
    box-shadow: 0 0 10px rgb(0,192,255);
}

.li-a
{
    position: relative;
    width: 260px;
    height: 210px;
    display: block;
    color: #fff;
}

.li-a:hover
{
    color: rgb(0,192,255);
}

.live-img
{
    width: 260px;
    height: 165px;
}

.live-title
{
    font-size: 13px;
    font-family: Arial;
    padding-left: .25em;
    margin-top: 5px;
    font-size: bold;
}
.live-name-nums
{   
    font-size: 11px;
    line-height: 2.5em;
    position: relative;
    color: #fff;
    overflow: hidden;
}
.live-name
{   
    float:left;
    padding-left: 2em;
    width: 16em;
    height: 2.5em;
    overflow: hidden;
    background: url("../img/avatar.svg") no-repeat left;
    background-size: 15px 15px;
}
.live-nums
{   
    float:right;
    padding-left: 2em;
    /*line-height: 2.5em;*/
    background: url("../img/avatars.svg") no-repeat left;
    background-size: 15px 15px;
}
.mask
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: url('../img/play.svg') no-repeat 50% 30%;
    background-size: 70px 70px;
}
.mask:hover
{
    opacity: .8;
}

.right-wrap
{
    position: fixed;
    top: 50px;
    left: 100%;
    margin-left: -300px;
    width: 299px;
    height: 100%;
    border-left: solid 1px rgb(51,51,51);
    /*background: white;*/
}

.head-rank
{   
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0,192,255);
}

.live-rank
{   
    margin: 30px auto;
    color: #ccc;
    width: 20em;
    padding: 0 1em;
    font-size: 15px;
    box-sizing: border-box;
}

.rank-item-wrap
{
}

.rank-link
{   
    display: block;
    position: relative;
    color: #ccc;
}

.rank-item
{   
    position: relative;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #333;
}

.rank-item:hover
{
    color: rgb(0,192,255);;
}

.rank-website
{
    float:left;
    width: 2.5em;
}
.rank-name
{
    float:left;
    width: 11em;
    overflow: hidden;
}
.rank-nums
{
    float: left;
    width: 4em;
    z-index: 100px;
}

.img-div
{   
    position: absolute;
    left: -19.5em;
    width: 19.5em;
    top: -4.67em;
    z-index: 100;
}

.rank-i-img-wrap
{   
    position: relative;
    display: inline-block;
    border:1px solid rgb(0,192,255);
    box-shadow: 0 0 10px rgb(0,192,255);
}
.rank-i-img-wrap:after
{   
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: solid .5em transparent;
    border-left-color: rgb(0,192,255);
    left: 100%;
    top: 5.5em;
}
.rank-img
{   
    width: 18em;
    height: 12em;
}
